<form action="http://localhost:8000/accept.php" accept-charset="Shift_JIS" method="post" data-turbo=false>
  <input type="text" size="50" name="first" value="あ～あ①髙島屋パバぱ叱神艗鎽𩸽">
  <input type="submit" value="sjis">
</form>